@import "tailwindcss";

:root {
  --background: #ffffff;
  --dark: #1D1D1D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--dark);
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
