.tag {
  display: flex;
  align-items: center;
  height: 42px;
  padding-inline: 1.875rem;
  border-radius: 100px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 80%;
  border: 1px solid currentColor;
  color: inherit;
}

.bgLayer {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms ease;
  z-index: 0;
}

.bgLayer::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.card:hover .bgLayer,
.card:focus-visible .bgLayer {
  opacity: 1;
}

.card {
  color: #1D1D1D;
}

.icon {
  color: #1D1D1D;
  opacity: 0;
  transition: opacity 300ms ease;
}

.cardWithImage:hover,
.cardWithImage:focus-visible {
  opacity: 1;
  color: #ffffff;
  transition: color 300ms ease;
}

.cardWithImage:hover .icon,
.cardWithImage:focus-visible .icon {
  opacity: 1;
  color: #ffffff;
}

.card:not(.cardWithImage):hover .icon,
.card:not(.cardWithImage):focus-visible .icon {
  opacity: 1;
  color: #1D1D1D;
}

@media screen and (max-width: 1280px) {
  .tag {
    padding-inline: 1.4rem;
  }
}