.tag {
  display: flex;
  align-items: center;
  height: 42px;
  padding-inline: 1.875rem;
  border-radius: 100px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 80%;
  border: 1px solid currentColor;
  color: inherit;
}

.bgLayer {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms ease;
  z-index: 0;
}

.bgLayer::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

@media screen and (min-width: 768px) {
  .card:hover .bgLayer {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .card:active .bgLayer {
    opacity: 1;
  }
}

.card {
  color: #1D1D1D;
}

.icon {
  color: #1D1D1D;
  opacity: 0;
  transition: opacity 300ms ease;
}

@media screen and (min-width: 768px) {
  .cardWithImage:hover {
    opacity: 1;
    color: #ffffff;
    transition: color 300ms ease;
  }
  .cardWithImage:hover .icon {
    opacity: 1;
    color: #ffffff;
  }
  .card:not(.cardWithImage):hover .icon {
    opacity: 1;
    color: #1D1D1D;
  }
}
@media screen and (max-width: 767px) {
  .cardWithImage:active {
    opacity: 1;
    color: #ffffff;
    transition: color 300ms ease;
  }
  .cardWithImage:active .icon {
    opacity: 1;
    color: #ffffff;
  }
  .card:not(.cardWithImage):active .icon {
    opacity: 1;
    color: #1D1D1D;
  }
}

@media screen and (max-width: 1280px) {
  .tag {
    padding-inline: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .icon, .icon svg {
    opacity: 1;
    width: 40px;
    height: 40px;
  }
}