.card {
  aspect-ratio: 593/617;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  z-index: -1;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, var(--gradient-color, #E3E993) 0%, transparent 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .card:hover .gradient {
    opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .card:active .gradient {
    opacity: 1;
  }
}
