.arrow {
    transition: all 0.2s ease-in-out;
}

.arrow svg {
    width: 100%;
    height: 100%;
}

.arrow {
    opacity: 0;
}

.card:hover .arrow{
    opacity: 1;
}


@media screen and (max-width: 640px) {
    .arrow {
        opacity: 1;
    }
}