.card {
    position: relative;
    padding-left: 40px;
    max-width: 340px;
    width: 100%;
}

.card::before {
    position: absolute;
    content: ''; 
    display: block;
    width: 14px;
    height: 100%;
    left: 0;
    top: 0;
    background: #F9F9F9;
}

.heading span{
    position: relative;
    padding-left: 43px;
}

.heading span::before {
    position: absolute;
    content: '';
    display: block;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: url("/images/about-stars.png") no-repeat center center;
}

@media screen and (max-width: 1536px) {
    .card {
        max-width: 50%;
        padding-left: 25px;
    }
}
@media screen and (max-width: 1280px) {
    .card {
        max-width: 100%;
        padding-left: 25px;
    }
}