.imageWrap::after {
    position: absolute;
    display: block;
    content: '';
    right: 11.83%;
    top: 24.48%;
    width: 12.87%;
    aspect-ratio: 150/168;
    background: url("/images/about-big-lap.svg") no-repeat center / cover;
}
.imageWrap::before {
    position: absolute;
    display: block;
    content: '';
    left: 11%;
    bottom: 12.3%;
    width: 7.6%;
    aspect-ratio: 89/96;
    background: url("/images/about-small-lap.svg") no-repeat center / cover;
    z-index: 4;
}