.nav {
  height: 100%;
}

.heroIcon {
  position: absolute;
  bottom: 4.375rem;
  right: 4.375rem;
  width: 170px;
  height: 129px;
  background: url("/images/all-hero-laps.svg") no-repeat center / cover;
}

.imageWrap {
  position: relative;
}

.imageWrap::after {
  position: absolute;
  content: '';
  display: block;
  right: 30px;
  bottom  : 30px;
  width: 35px;
  height: 35px;
  background: url("/images/doctor-plus.svg") no-repeat center / cover;
  z-index: 2;
}