/* Стили для секций блога */

/* Базовые стили для секции */
.blog-section {
  /* Можно добавить специфические стили если нужно */
}

/* Стили для заголовков в контенте */
.blog-section h4 {
  font-family: 'Circe', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #1D1D1D;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

/* Стили для абзацев */
.blog-section p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
}

/* Стили для нумерованных списков */
.blog-section ol {
  counter-reset: item;
  padding-left: 0;
}

.blog-section ol li {
  counter-increment: item;
  margin-bottom: 2rem;
  line-height: 1.6;
  position: relative;
  padding-left: 1.5rem;
}

.blog-section ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 4px;
  /* font-size: 1.25rem; */
  font-weight: 700;
  color: #1D1D1D;
  line-height: 1;
}

/* Стили для описаний пунктов списка */
.blog-section ol li span:last-child {
  font-size: 0.95rem;
  font-weight: 400;
  color: #666;
  line-height: 1.5;
}

/* Стили для изображений */
.blog-section img {
  transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .blog-section img:hover {
    transform: scale(1.02);
  }
}
@media screen and (max-width: 767px) {
  .blog-section img:active {
    transform: scale(1.02);
  }
}

/* Кастомные маркеры для списков */
.blog-section ul li {
    list-style: none;
    position: relative;
    padding-left: 35px;
}

.blog-section ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 25px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3csvg width='107' height='39' viewBox='0 0 107 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.14244 3.97212C3.35371 2.47386 5.41287 1.01344 6.87397 0.612389C8.29722 0.218908 10.6592 0.0751358 12.1127 0.279443C13.5663 0.491318 16.1251 1.30855 17.7906 2.09551C19.4561 2.89004 22.6054 5.07689 28.7677 10.404H77.6801L80.519 7.87666C82.0785 6.49191 84.7206 4.44883 86.3861 3.34406C88.0516 2.23172 91.1176 0.945335 93.1995 0.476184C96.5532 -0.288078 97.3935 -0.197275 100.581 1.22531C103.556 2.5571 104.457 3.45756 105.774 6.43137C106.94 9.06467 107.228 10.7294 106.834 12.6741C106.539 14.127 105.819 16.2608 105.237 17.4035C104.328 19.1893 104.328 19.7795 105.237 21.5653C105.819 22.7079 106.531 24.8342 106.811 26.2946C107.159 28.1183 106.894 29.9797 105.941 32.2725C105.176 34.1037 103.533 36.3133 102.284 37.1835C100.634 38.3336 98.8773 38.7574 95.8492 38.7271C93.0935 38.712 90.5953 38.1369 88.468 37.0397C86.6965 36.1241 83.8046 34.028 78.8156 29.3744L28.7677 29.3214L24.4147 32.6433C22.0225 34.4745 18.9564 36.5176 17.6013 37.1835C16.2462 37.8569 13.8615 38.6136 12.302 38.8709C10.2504 39.2114 8.46377 38.8936 5.8671 37.7358C3.5354 36.6916 1.8699 35.3371 1.13557 33.8616C0.507221 32.613 0 30.0554 0 28.1864C0 26.3173 0.507221 23.5932 1.13557 22.1328C2.14244 19.7795 2.14244 19.1893 1.13557 16.8359C0.507221 15.3831 0 12.4849 0 10.404C0 7.37724 0.431515 6.09086 2.14244 3.97212Z' fill='%23E3E993'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Цвета маркеров по порядку */
.blog-section ul li:nth-child(3n+1)::before {
    background-image: url("data:image/svg+xml,%3csvg width='107' height='39' viewBox='0 0 107 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.14244 3.97212C3.35371 2.47386 5.41287 1.01344 6.87397 0.612389C8.29722 0.218908 10.6592 0.0751358 12.1127 0.279443C13.5663 0.491318 16.1251 1.30855 17.7906 2.09551C19.4561 2.89004 22.6054 5.07689 28.7677 10.404H77.6801L80.519 7.87666C82.0785 6.49191 84.7206 4.44883 86.3861 3.34406C88.0516 2.23172 91.1176 0.945335 93.1995 0.476184C96.5532 -0.288078 97.3935 -0.197275 100.581 1.22531C103.556 2.5571 104.457 3.45756 105.774 6.43137C106.94 9.06467 107.228 10.7294 106.834 12.6741C106.539 14.127 105.819 16.2608 105.237 17.4035C104.328 19.1893 104.328 19.7795 105.237 21.5653C105.819 22.7079 106.531 24.8342 106.811 26.2946C107.159 28.1183 106.894 29.9797 105.941 32.2725C105.176 34.1037 103.533 36.3133 102.284 37.1835C100.634 38.3336 98.8773 38.7574 95.8492 38.7271C93.0935 38.712 90.5953 38.1369 88.468 37.0397C86.6965 36.1241 83.8046 34.028 78.8156 29.3744L28.7677 29.3214L24.4147 32.6433C22.0225 34.4745 18.9564 36.5176 17.6013 37.1835C16.2462 37.8569 13.8615 38.6136 12.302 38.8709C10.2504 39.2114 8.46377 38.8936 5.8671 37.7358C3.5354 36.6916 1.8699 35.3371 1.13557 33.8616C0.507221 32.613 0 30.0554 0 28.1864C0 26.3173 0.507221 23.5932 1.13557 22.1328C2.14244 19.7795 2.14244 19.1893 1.13557 16.8359C0.507221 15.3831 0 12.4849 0 10.404C0 7.37724 0.431515 6.09086 2.14244 3.97212Z' fill='%23E3E993'/%3e%3c/svg%3e");
}

.blog-section ul li:nth-child(3n+2)::before {
    background-image: url("data:image/svg+xml,%3csvg width='107' height='39' viewBox='0 0 107 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.14244 3.97212C3.35371 2.47386 5.41287 1.01344 6.87397 0.612389C8.29722 0.218908 10.6592 0.0751358 12.1127 0.279443C13.5663 0.491318 16.1251 1.30855 17.7906 2.09551C19.4561 2.89004 22.6054 5.07689 28.7677 10.404H77.6801L80.519 7.87666C82.0785 6.49191 84.7206 4.44883 86.3861 3.34406C88.0516 2.23172 91.1176 0.945335 93.1995 0.476184C96.5532 -0.288078 97.3935 -0.197275 100.581 1.22531C103.556 2.5571 104.457 3.45756 105.774 6.43137C106.94 9.06467 107.228 10.7294 106.834 12.6741C106.539 14.127 105.819 16.2608 105.237 17.4035C104.328 19.1893 104.328 19.7795 105.237 21.5653C105.819 22.7079 106.531 24.8342 106.811 26.2946C107.159 28.1183 106.894 29.9797 105.941 32.2725C105.176 34.1037 103.533 36.3133 102.284 37.1835C100.634 38.3336 98.8773 38.7574 95.8492 38.7271C93.0935 38.712 90.5953 38.1369 88.468 37.0397C86.6965 36.1241 83.8046 34.028 78.8156 29.3744L28.7677 29.3214L24.4147 32.6433C22.0225 34.4745 18.9564 36.5176 17.6013 37.1835C16.2462 37.8569 13.8615 38.6136 12.302 38.8709C10.2504 39.2114 8.46377 38.8936 5.8671 37.7358C3.5354 36.6916 1.8699 35.3371 1.13557 33.8616C0.507221 32.613 0 30.0554 0 28.1864C0 26.3173 0.507221 23.5932 1.13557 22.1328C2.14244 19.7795 2.14244 19.1893 1.13557 16.8359C0.507221 15.3831 0 12.4849 0 10.404C0 7.37724 0.431515 6.09086 2.14244 3.97212Z' fill='%23F2C1D5'/%3e%3c/svg%3e");
}

.blog-section ul li:nth-child(3n+3)::before {
    background-image: url("data:image/svg+xml,%3csvg width='107' height='39' viewBox='0 0 107 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.14244 3.97212C3.35371 2.47386 5.41287 1.01344 6.87397 0.612389C8.29722 0.218908 10.6592 0.0751358 12.1127 0.279443C13.5663 0.491318 16.1251 1.30855 17.7906 2.09551C19.4561 2.89004 22.6054 5.07689 28.7677 10.404H77.6801L80.519 7.87666C82.0785 6.49191 84.7206 4.44883 86.3861 3.34406C88.0516 2.23172 91.1176 0.945335 93.1995 0.476184C96.5532 -0.288078 97.3935 -0.197275 100.581 1.22531C103.556 2.5571 104.457 3.45756 105.774 6.43137C106.94 9.06467 107.228 10.7294 106.834 12.6741C106.539 14.127 105.819 16.2608 105.237 17.4035C104.328 19.1893 104.328 19.7795 105.237 21.5653C105.819 22.7079 106.531 24.8342 106.811 26.2946C107.159 28.1183 106.894 29.9797 105.941 32.2725C105.176 34.1037 103.533 36.3133 102.284 37.1835C100.634 38.3336 98.8773 38.7574 95.8492 38.7271C93.0935 38.712 90.5953 38.1369 88.468 37.0397C86.6965 36.1241 83.8046 34.028 78.8156 29.3744L28.7677 29.3214L24.4147 32.6433C22.0225 34.4745 18.9564 36.5176 17.6013 37.1835C16.2462 37.8569 13.8615 38.6136 12.302 38.8709C10.2504 39.2114 8.46377 38.8936 5.8671 37.7358C3.5354 36.6916 1.8699 35.3371 1.13557 33.8616C0.507221 32.613 0 30.0554 0 28.1864C0 26.3173 0.507221 23.5932 1.13557 22.1328C2.14244 19.7795 2.14244 19.1893 1.13557 16.8359C0.507221 15.3831 0 12.4849 0 10.404C0 7.37724 0.431515 6.09086 2.14244 3.97212Z' fill='%23ACD9CF'/%3e%3c/svg%3e");
}

.heading {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.heading h2 {
    max-width: 50%;
}


@media screen and (max-width: 767px) {
  .heading {
    flex-direction: column;
  }

  .heading h2 {
    max-width: 100%;
  }

  .blog-section h4 {
    margin-top: 1rem;
  }
}