.section {
  display: block;
}

.peekWrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.rightMask {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  background: #fff;
}

.section :global(.swiper-slide) .link {
  opacity: 0.5;
}

.link {
  transition: all 0.2s ease-in-out;
}

/* Следующий элемент после .swiper-slide-active (независимо от класса) */
.section :global(.swiper-slide-next) + * .link {
  opacity: 1;
}

.link:hover {
  opacity: 0.8 !important;
}
