.sortModal {
    top: 60px;
}

.modalSortBtn {
  width: 100%;
  height: 42px;
  font-size: 0.875rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-in-out;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .modalSortBtn:hover {
    background: #F9F9F9;
  }
}
@media screen and (max-width: 767px) {
  .modalSortBtn:active {
    background: #F9F9F9;
  }
}