.link {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 100%;
    transition: opacity 0.2s ease-in-out;
    height: fit-content;
}

@media screen and (min-width: 768px) {
    .link:hover {
        opacity: 0.7;
    }
}
@media screen and (max-width: 767px) {
    .link:active {
        opacity: 0.7;
    }
}

.contactLink {
    padding: 0rem 1.8751rem;
    font-size: 0.875rem;
    line-height: 90%;
    border: 1px solid var(--dark);
    border-radius: 100px;
    transition: all 0.2s ease;
    height: 42px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .contactLink:hover {
        background: var(--dark);
        color: #fff;
        border-color: #fff;
    }
}
@media screen and (max-width: 767px) {
    .contactLink:active {
        background: var(--dark);
        color: #fff;
        border-color: #fff;
    }
}

.socialLink {
    position: relative;
    width: 41.76px;
    height: 41.76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
}

.socialLink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .socialLink:hover {
        opacity: 0.5;
    }
}
@media screen and (max-width: 767px) {
    .socialLink:active {
        opacity: 0.5;
    }
}

.documentLink {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #8E8E8E;
    transition: color 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
    .documentLink:hover {
        color: var(--dark);
    }
}
@media screen and (max-width: 767px) {
    .documentLink:active {
        color: var(--dark);
    }
}

@media screen and (max-width: 639px) {
    .contactLink {
        padding: 0rem 1.5rem;
    }
}